@import"../../styles/Auth/auth.css";
@import"../../styles/categories/categories.css";
@import"../../styles/Common/common.css";
@import"../../styles/Dashboard/Dashboard.css";
@import"../../styles/inventory/Inventory.css";
@import"../../styles/layout/layout.css";
@import"../../styles/main/components.css";
@import"../../styles/main/global.css";
@import"../../styles//main/variables.css";
@import"../../styles/pages/pages.css";
@import"../../styles/Products/products.CSS";
@import"../../styles/QR/qr.css";
@import"../../styles/Reports/reports.css";
@import"../../styles/routes/routes.css";
@import"../../styles/utils/animations.css";
@import"../../styles/utils/colors.css";
@import"../../styles/utils/spacing.css";
@import"../../styles/utils/typography.css";
@import"../../styles/utils/utils.css";
@import"../../styles/main/app.css";
@import"../../styles/main/main.css";













